<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>This is the project page!</p>
    <p>It should be displaying on Heroku</p>

    {{> footer}}
  </body>
</html>
